<!-- Booking Modals -->
<aside>
    <!-- The Modal -->
    <div class="bookModal">
    
        <!-- Modal content -->
        <div class="bookModal-content">
            <span class="closeBookBtn">
                <i class="fas fa-times"></i>
            </span>
            <h3>From</h3>
            <input type="date" name="From" id="bookFrom">
            <h3>To</h3>
            <input type="date" name="To" id="bookTo">
            <input type="submit" value="Book" id="calBkBtn">
        </div>
    </div>
    
    <!-- Payment Details Modal -->
    <div class="paymentModal">
    
        <div class="paymentModal-content">
            <span class="closeBookBtn">
                <i class="fas fa-times"></i>
            </span>
            <span>Your Booking</span>
            <div id="bookingDetailsDiv">
                <div>
                    <h3>Hotel</h3>
                    <span id="bookedHotel"></span>
                </div>
    
                <div>
                    <h3>Room</h3>
                    <span id="bookedRoom"></span>
                </div>
    
                <div>
                    <h3>Dates Booked</h3>
                    <span>From <span id="bookFromModal"></span> To <span id="bookToModal"></span></span>
                </div>
            </div>
            <span>Payment Details</span>
            <div id="paymenDetailsDiv">
                <p>Payment Details and modal will go here when implemented</p>
            </div>
            <button id="confirmBookBtn">OK lets go!</button>
        </div>
    </div>
    <!-- Receipt Modal -->
    <div class="receiptModal">
        <div class="receiptModal-content">
            <span class="closeBookBtn">
                <i class="fas fa-times"></i>
            </span>
            <span>Here is Your Receipt!</span>
            <div id="receiptDetailsDiv">

            </div>
            <span>You can edit your booking in your account!</span>
            <button id="contBrowse">Continue Browsing</button>
            <button class="" id="myAccount" onclick="location.href='#';">My Account</button>
        </div>
    </div>
</aside>