<% include partials/header %>

    <div>
            <header>
                <p>Google Does a lot But we need a little more information :)</p>
            </header>
            <form action="/users" class="modal-content createAccount" id="create-account-form" method="POST">
                <header>
                    <span class="closeBtn">
                        <i class="fas fa-times"></i>
                    </span>
                    <h2>Create Account</h2>
                </header>
    
                <section>
                    <label for="firstName lastName">Name</label>
    
                    <input type="text" name="firstName" id="firstName" placeholder="First search" value="<%= newUser.first_name %>" required>
                    <input type="text" name="lastName" id="lastName" placeholder="Last"  value="<%= newUser.last_name %>" required>
    
                    <label for="username-search" id="user-username-label">username</label>
                    <input type="text" name="username" id="username" placeholder="ex. traveler2020" required>
    
                    <label for="createPassword">Password</label>
                    <input type="password" name="password" id="create-password" required>
    
                    <label for="confirm-password">Confirm Password</label>
    
                    <div class='password-confirm-div'>
                        <input type="password" name="passwordConf" id="confirm-password" required>
                    </div>
    
                    <label for="email">Email (optional)</label>
                    <input type="email" name="email" value="<%= newUser.email %>">
    
                    <input type="submit" value="Create Account" class="create-user-submit">
                </section>
            </form>
    </div>
    
<% include partials/footer %>