<% include partials/header %>
<% include partials/navbar %>
<% include partials/sign-in-modal %>


<div id="account-management">
    <main id="account-management-content">
        <header>
            <h1>Account Management</h1>
        </header>
        <aside id="account-management-menu-user">
            <ul>
                <li>
                    <a href="#" class="manage-account-nav">Account Information</a>
                </li>
                <li class="booking-toggle">
                    <a href="#" class="bookings-nav">Bookings</a>
                </li>
                <li class="listing-toggle">
                    <a href="#" class="listings-nav">Listings</a>
                </li>
                <li>
                    <a href="#" class="favorites-nav">Favorites</a>
                </li>
            </ul>

        </aside>
        <section id="account-management-view">
            <article id="account-information-host">
                <h2>Account Information</h2>

                <label for="businessName-manage">Name</label>

                <div>
                    <input type="text" name="businessName" id="businessName-manage">
                    <button type="submit" class="">Change</button>
                </div>

                <label for="email-manage-host">Email (optional)</label>

                <div>
                    <input type="email" name="email" id="email-manage-host">
                    <button type="submit" class="">Change</button>
                </div>
            </article>
            <article id="account-information-user">
                <h2>Account Information</h2>

                <label for="firstName-manage lastName-manage">Name</label>

                <div>
                    <input type="text" name="firstName" id="firstName-manage">
                    <button type="submit" class="firstNameChangeBtn">Change</button>
                </div>

                <div>
                    <input type="text" name="lastName" id="lastName-manage">
                    <button type="submit" class="lastNameChangeBtn">Change</button>
                </div>

                <label for="email-manage">Email (optional)</label>

                <div>
                    <input type="email" name="email" id="email-manage">
                    <button type="submit" class="emailChangeBtn">Change</button>
                </div>

            </article>

            <article id="bookings">
                <h2>Bookings</h2>
                <div>

                </div>
            </article>

            <article id="listings">
                <h2>Listings</h2>
            </article>

            <article id="favorites">
                <h2>Favorites</h2>
            </article>

        </section>
    </main>
</div>

<% include partials/footer %>