body {
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    background-color: #141414;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOMEPAGE    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*###########################################################################*/
/*NAVBAR*/

nav {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li {
    padding: 0 2em;
    list-style-type: none;
}

nav ul li ul li {  /* over riding 1.2em set on UL*/
    font-size: .6em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
}

nav .right {
    justify-content: flex-end;
}

nav .left {
    justify-content: flex-start;
}

nav .middle {
    flex: 1;
}

.loggedInWelcome {
    display: none;
    position: relative;
}

.loggedInWelcome ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: .5em;
    right: 0;
    padding-top: .5em;
}

.loggedInWelcome:hover ul,  .loggedInWelcome:hover ul:hover, .loggedInWelcome:active ul,  .loggedInWelcome:active ul:active {
    display: block;
}

.loggedInWelcome ul li {
    padding-bottom: 0.5em;
}

.signInUp {
    display: block;
}

.create-account-nav {
    border: 2px solid white;
    border-radius: .2em;
    padding: .2em;
    margin-top: -.2em;
    margin-right: 2em;
}

.create-account-nav:hover {
    border-color: black;
}

#hamburgerMenu {
    margin: 1em 0;
}

#hamburgerMenu li{
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    display: none;
}


/*for mobile screens = switch to hamburger menu*/
@media (max-width: 85em) {
    .hamburger {
        display: inline-block;
        margin: 1em;
        text-align: right;
    }

    .hamburger ul{
        display: none;
        flex-direction: column;
        clear: both;
    }

    .hamburger ul ul {
        display: none;
    }

    .right {
        display: none;
        flex-direction: column;
    }

}

.bars {
    float: right;
    clear: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/*###########################################################################*/

/*SEARCHBAR*/

.searchBG {
    background-image: url("images/pond.jpg");
    background-size: cover;
    /*background: linear-gradient(to bottom right, #7f00ff, #e100ff);*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        ". . . . . . . . . . . ."
        "p p p . . mLoc mLoc . . . . ."
        ". . . . . mFrom mTo . . . . ."
        "loc loc loc from from mAdult mChild adult adult child child searchButton"
        ". . . . . mSearch mSearch . . . . ."
        ". . . . . ref ref . . p2 p2 p2"
        ". . . . . . . . . . . .";
      /* readable version of grid placement
        ".   .   .   .    .    .       .       .     .     .     .     .           "
        "p   p   p   .    .    mLoc    mLoc    .     .     .     .     .           "
        ".   .   .   .    .    mFrom   mTo     .     .     .     .     .           "
        "loc loc loc from from mAdult  mChild  adult adult child child searchButton"
        ".   .   .   .    .    mSearch mSearch .     .     .     .     .           "
        ".   .   .   .    .    mLoc    mLoc    .     .     p2    p2    p2          "
        ".   .   .   .    .    .       .       .     .     .     .     .           " */
       
    width: 90em;
    margin: auto;
}

.search input {
    padding: .5rem 1rem;
    border: none;
    height: 2rem;
    font-size: 1.2em;
    font-weight: bold;
}


#location {
    border-radius: .5em 0 0 .5em;
    padding: 1rem 1rem;
    height: 3rem;
    grid-area: loc;
}

.dateStart {
    grid-area: from;
    padding-left: 1em;
}

.dateEnd {
    grid-column: 6/ span 2;
    grid-row: 4 / 5;
    padding-left: 1em;
}


.people {
    grid-area: adult;
}

.rooms {
    grid-area: child;
}

#searchButton {
    border-radius: 0 .5em .5em 0;
    border: none;
    grid-area: searchButton;
}

.search p {
    font-family: 'pacifico', cursive;
    font-size: 3em;
    color: white;
}

.search-icons {
    background-color: white;
}

.search-number-input {
    max-width: 10em;
}

#search-script-1 {
    grid-area: p;
}

#search-script-2 {
    grid-area: p2;
    justify-self: end;
}

/*searchbar for mobile platforms*/
@media (max-width: 90em) {
    .search {
        grid-template-columns: 0 0 0 0 0 15em 15em 0 0 0 0 0;
        width: 30em;
        margin: auto;
    }
    .search input {
        padding: .5rem 1rem;
        border: none;
        height: 2rem;
    }
    
    #location {
        border-radius: .5em .5em 0 0;
        padding: 1rem 1rem;
        height: 3rem;
        grid-area: mLoc;
    }
    
    .dateStart {
        grid-area: mFrom;
    }
    
    .dateEnd {
        grid-area: mTo;
    }
    
    .people {
        grid-area: mAdult;
    }
    
    .rooms {
        grid-area: mChild;
    }
    
    #searchButton {
        border-radius: 0 0 .5em .5em;
        border: none;
        grid-area: mSearch;
        height: 3em;
    }

    .search p {
        display: none;
    }
}


/*#################################################################################*/
/*Sign In and Create Account Modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 30em;
    height: 90vh;
    max-height: 690px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(rgba(40, 44, 52, 0.4), rgb(40, 44, 52)), url("images/pup.jpg");
    background-size: 100%;
}


.modal-content input {
    padding: 1em;
    color: white;
    background-color: rgba(160,160,160,0.5);
    border: none;
    border-radius: .5em;
}

.modal-content section {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
}

.modal-content input[type="submit"] {
    margin-top: 1em;
    border: 2px solid darkgrey;
    color: white;
    font: bold 1.2em 'proxima-nova', sans-serif;
}

.modal-content button {
    border: none;
    border-radius: .5em;
    width: 100%;
    height: 4rem;
    background-color: rgba(160,160,160,0.5);
    border: 2px solid darkgrey;
    color: white;
    font: bold 1.2em 'proxima-nova', sans-serif;
}

.modal-content a,  .modal-content p {
    color: white;
    padding: .5em;
}

.modal-content h2 {
    color: white;
    margin-top: 0;
}

.fa-times {
    color: white;
}

.modal-content label {
    padding-left: .5em;
    color: white;
    font-weight: bold;
}

.closeBtn {
    color: darkslategrey;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.createOrBecomeHost {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100%;
}

.createAccountForm button {
    height: 3em;
}

.createAccount {
    display: none;
}

.createBtn {
    width: 100%;
}


.becomeHost {
    display: none;
}

.password-confirm-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(160,160,160,0.5);
    border-radius: .5em;
    height: 3rem;
}

.password-confirm-div span {
    margin: 1em;
}

#confirm-password, #confirm-password-host {
    background: none;
    width: 80%;
}

#success-msg {
    color: green;
}
#error-msg {
    color: red;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/*#############################################################################################*/
/*homepage contents*/

.homeResults {
    max-width: 80em;
    margin: auto;
    padding: 2em;
}

.resultHeader {
    font-size: 2em;
    color: #f4f4f4;
}

.homeResultGrid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.hotelRoomThumbnail {
    display: grid;
    grid-template-rows: auto;
    min-width: 10rem;
    max-width: 30rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.hotelRoomThumbnail a {
    display: block;
}



.thumbImg {
    min-width: 10rem;
    max-width: 100%;
    height: 13rem;
    background-image: url("images/kabukicho.jpg");
    background-size: cover;
}


.thumb-flex {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: #f4f4f4;
    font-size: 1.2em;
    font-weight: bold;
}
.thumb-flex a {
    text-decoration: none;
    font-size: 1.2em;
    
}

.thumb-price {
    border: 2px solid teal;
    border-radius: .2em;
    padding: .2em;
    margin-bottom: .2em;
}
.fa-heart {
    font-size: 1.5em;
    padding-top: .5em;
    padding-left: .5em;
    color: grey;
}

.fa-heart:hover {
    color: darkslategrey;
}

/*#############################################################################################*/
/*footer contents*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em auto;
    max-width: 80em;
    margin: 1em auto;
}

footer a {
    text-decoration: none;
    font-size: 1.2em;
    color: cyan;
    padding: .5em 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-social {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
}
footer header {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    SEARCH PAGE SEARCH.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#search {
    display: none;
}

.searchBG2 {
    background-image: url("images/pond.jpg");
    background-size: cover;
    /*background: linear-gradient(to bottom right, #7f00ff, #e100ff);*/
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.search-result-header {
    display: flex;
    justify-content: space-between;
}

.map-list-toggle {
    text-decoration: none;
    border: 2px solid white;
    border-radius: .2em;
    padding: .2em;
    color: white;
    font-size: .8em;

}

.map-list-toggle:hover {
    color: teal;
    border-color: darkcyan;
}

#list-view {
    display: none;
}

.map {
    display: none;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOTEL AND ROOMS PAGE HOTEL.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    ACCOUNT MANAGEMENT ACCOUNT.HTML CSS   
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#account-management {
    display: block;
}

#account-management-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    max-width: 90em;
    margin: 3em auto;
    grid-gap: 2em;
}

#account-management-content header {
    grid-column: 1/-1;
    font-size: 1em;
    color: white;
    font-family: "pacifico", "cursive";
}

#account-management-menu-user {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-width: 15em;
}

#account-management-menu-user ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}


#account-management-menu-user li {
    padding: 1em 0;
}

#account-management-menu-user a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

#account-management-menu-user a:hover {
    color: cyan;
}

#account-information-user {
    display: grid;
    grid-template-rows: auto;
    grid-gap: .5em;
    padding-top: .5em;
}

#account-management-content h2 {
    color: white;
    font-size: 1.5em;
}

#account-information-user input {
    padding: 1em;
    color: white;
    background-color: rgba(160,160,160,0.5);
    border: none;
    border-radius: .5em;
}

#account-information-user button {
    padding: .9em;
    color: white;
    background-color: rgba(160,160,160,0.5);
    border: 2px solid white;
    border-radius: .5em;
    margin-left: 1em;
}

#account-information-user label {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    ABOUT PAGE ABOUT.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#about {
    display: none;
}

.about-content {
    max-width: 80em;
    margin: auto;
}
.about-content h1{
    font-family: 'pacifico', 'cursive';
    font-weight: bold;
    color: white;
}