body {
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    background-color: #141414;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOMEPAGE    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*###########################################################################*/
/*NAVBAR*/

nav {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul li {
    padding: 0 2em;
    list-style-type: none;
}

nav ul li ul li {  /* over riding 1.2em set on UL*/
    font-size: .6em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
}

nav .right {
    justify-content: flex-end;
}

nav .left {
    justify-content: flex-start;
}

nav .middle {
    flex: 1;
}

.loggedInWelcome {
    display: none;
    position: relative;
}

.loggedInWelcome ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: .5em;
    right: 0;
    padding-top: .5em;
}

.loggedInWelcome:hover ul,  .loggedInWelcome:hover ul:hover, .loggedInWelcome:active ul,  .loggedInWelcome:active ul:active {
    display: block;
}

.loggedInWelcome ul li {
    padding-bottom: 0.5em;
}

.signInUp {
    display: block;
}

.create-account-nav {
    border: 2px solid white;
    border-radius: .2em;
    padding: .2em;
    margin-top: -.2em;
    margin-right: 2em;
}

.create-account-nav:hover {
    border-color: black;
}

#hamburgerMenu {
    margin: 1em 0;
}

#hamburgerMenu li{
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    display: none;
}


/*for mobile screens = switch to hamburger menu*/
@media (max-width: 85em) {
    .hamburger {
        display: inline-block;
        margin: 1em;
        text-align: right;
    }

    .hamburger ul{
        display: none;
        flex-direction: column;
        clear: both;
    }

    .hamburger ul ul {
        display: none;
    }

    .right {
        display: none;
        flex-direction: column;
    }

}

.bars {
    float: right;
    clear: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/*###########################################################################*/

/*SEARCHBAR*/

.searchBG {
    background-image: url("images/pond.jpg");
    background-size: cover;
    /*background: linear-gradient(to bottom right, #7f00ff, #e100ff);*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        ". . . . . . . . . . . ."
        "p p p . . mLoc mLoc . . . . ."
        ". . . . . mFrom mTo . . . . ."
        "loc loc loc from from mAdult mChild adult adult child child searchButton"
        ". . . . . mSearch mSearch . . . . ."
        ". . . . . ref ref . . p2 p2 p2"
        ". . . . . . . . . . . .";
      /* readable version of grid placement
        ".   .   .   .    .    .       .       .     .     .     .     .           "
        "p   p   p   .    .    mLoc    mLoc    .     .     .     .     .           "
        ".   .   .   .    .    mFrom   mTo     .     .     .     .     .           "
        "loc loc loc from from mAdult  mChild  adult adult child child searchButton"
        ".   .   .   .    .    mSearch mSearch .     .     .     .     .           "
        ".   .   .   .    .    mLoc    mLoc    .     .     p2    p2    p2          "
        ".   .   .   .    .    .       .       .     .     .     .     .           " */
       
    width: 90em;
    margin: auto;
}

.search input {
    padding: .5rem 1rem;
    border: none;
    height: 2rem;
    font-size: 1.2em;
    font-weight: bold;
}


#location {
    border-radius: .5em 0 0 .5em;
    padding: 1rem 1rem;
    height: 3rem;
    grid-area: loc;
}

.dateStart {
    grid-area: from;
    padding-left: 1em;
}

.dateEnd {
    grid-column: 6/ span 2;
    grid-row: 4 / 5;
    padding-left: 1em;
}


.people {
    grid-area: adult;
}

.rooms {
    grid-area: child;
}

#searchButton {
    border-radius: 0 .5em .5em 0;
    border: none;
    grid-area: searchButton;
}

.search p {
    font-family: 'pacifico', cursive;
    font-size: 3em;
    color: white;
}

.search-icons {
    background-color: white;
}

.search-number-input {
    max-width: 10em;
}

#search-script-1 {
    grid-area: p;
}

#search-script-2 {
    grid-area: p2;
    justify-self: end;
}

/*searchbar for mobile platforms*/
@media (max-width: 90em) {
    .search {
        grid-template-columns: 0 0 0 0 0 15em 15em 0 0 0 0 0;
        width: 30em;
        margin: auto;
    }
    .search input {
        padding: .5rem 1rem;
        border: none;
        height: 2rem;
    }
    
    #location {
        border-radius: .5em .5em 0 0;
        padding: 1rem 1rem;
        height: 3rem;
        grid-area: mLoc;
    }
    
    .dateStart {
        grid-area: mFrom;
    }
    
    .dateEnd {
        grid-area: mTo;
    }
    
    .people {
        grid-area: mAdult;
    }
    
    .rooms {
        grid-area: mChild;
    }
    
    #searchButton {
        border-radius: 0 0 .5em .5em;
        border: none;
        grid-area: mSearch;
        height: 3em;
    }

    .search p {
        display: none;
    }
}


/*#################################################################################*/
/*Sign In and Create Account Modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 30em;
    height: 90vh;
    max-height: 690px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(rgba(40, 44, 52, 0.4), rgb(40, 44, 52)), url("images/pup.jpg");
    background-size: 100%;
}


.modal-content input {
    padding: 1em;
    color: white;
    background-color: rgba(160,160,160,0.5);
    border: none;
    border-radius: .5em;
}

.modal-content section {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
}

.modal-content input[type="submit"] {
    margin-top: 1em;
    border: 2px solid darkgrey;
    color: white;
    font: bold 1.2em 'proxima-nova', sans-serif;
}

.modal-content button {
    border: none;
    border-radius: .5em;
    width: 100%;
    height: 4rem;
    background-color: rgba(160,160,160,0.5);
    border: 2px solid darkgrey;
    color: white;
    font: bold 1.2em 'proxima-nova', sans-serif;
}

.modal-content a,  .modal-content p {
    color: white;
    padding: .5em;
}

.modal-content h2 {
    color: white;
    margin-top: 0;
}

.fa-times {
    color: white;
}

.modal-content label {
    padding-left: .5em;
    color: white;
    font-weight: bold;
}

.closeBtn {
    color: darkslategrey;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.createOrBecomeHost {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100%;
}

.createAccountForm button {
    height: 3em;
}

.createAccount {
    display: none;
}

.createBtn {
    width: 100%;
}


.becomeHost {
    display: none;
}

.password-confirm-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(160,160,160,0.5);
    border-radius: .5em;
    height: 3rem;
}

.password-confirm-div span {
    margin: 1em;
}

#confirm-password, #confirm-password-host {
    background: none;
    width: 80%;
}

#success-msg {
    color: green;
}
#error-msg {
    color: red;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/*#############################################################################################*/
/*homepage contents*/

.homeResults {
    max-width: 80em;
    margin: auto;
    padding: 2em;
}

.resultHeader {
    font-size: 2em;
    color: #f4f4f4;
}

.homeResultGrid {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.hotelRoomThumbnail {
    display: grid;
    grid-template-rows: auto;
    min-width: 10rem;
    max-width: 30rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.hotelRoomThumbnail a {
    display: block;
}



.thumbImg {
    min-width: 10rem;
    max-width: 100%;
    height: 13rem;
    background-image: url("images/kabukicho.jpg");
    background-size: cover;
}


.thumb-flex {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: #f4f4f4;
    font-size: 1.2em;
    font-weight: bold;
}
.thumb-flex a {
    text-decoration: none;
    font-size: 1.2em;
    
}

.thumb-price {
    border: 2px solid teal;
    border-radius: .2em;
    padding: .2em;
    margin-bottom: .2em;
}
.fa-heart {
    font-size: 1.5em;
    padding-top: .5em;
    padding-left: .5em;
    color: grey;
}

.fa-heart:hover {
    color: darkslategrey;
}

/*#############################################################################################*/
/*footer contents*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em auto;
    max-width: 80em;
    margin: 1em auto;
}

footer a {
    text-decoration: none;
    font-size: 1.2em;
    color: cyan;
    padding: .5em 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-social {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
}
footer header {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    SEARCH PAGE SEARCH.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#search {
    display: none;
}

.searchBG2 {
    background-image: url("images/pond.jpg");
    background-size: cover;
    /*background: linear-gradient(to bottom right, #7f00ff, #e100ff);*/
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.search-result-header {
    display: flex;
    justify-content: space-between;
}

.map-list-toggle {
    text-decoration: none;
    border: 2px solid white;
    border-radius: .2em;
    padding: .2em;
    color: white;
    font-size: .8em;

}

.map-list-toggle:hover {
    color: teal;
    border-color: darkcyan;
}

#list-view {
    display: none;
}

.map {
    display: none;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOTEL AND ROOMS PAGE HOTEL.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*hotel room page search bar*/
.searchHR {
    background: linear-gradient(to bottom right, #7f00ff, #e100ff);
    /* background: linear-gradient(to bottom right, #097cef, #42d1c5); */
    width: 100%;
}

/*  HOTEL SECTION   */
.hotelName {
  font-size: 1.25em;
  color: white;
  margin: 5em 4.25em;
}

.topSection {
  display: flex;
}

.hotelDescription {
  box-sizing:border-box;
  color: white;
  margin: 5em;
  flex: 50%;
}

.hotelPictures {
  box-sizing:border-box;
  background-color: #D7DBDD;
  padding: 1em;
  margin: 5em;
  border-radius: 0.3em;
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

[class*="innerPic"] {
  border-radius: 0.3em;
  max-height: 10em;
  margin: 0.1em;
}

[class*="innerPic"]:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*   mobile query    */
@media (max-width: 70.375em) {
  .topSection {
    flex-direction: column;
  }
  .hotelDescription {
    flex: 100%;
  }
  .hotelPictures {
    flex: 100%;
  }
}

/*   mobile query  - very small devices  */
@media (max-width: 45em) {
  .hotelPictures {
    flex-direction: column;
    align-items: center;
  }
  [class*="innerPic"] {
    max-width: 100%;
  }
}

/*  ROOMS SECTION   */
#roomSectionGrid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
  color: white;
  margin: 5em 4.25em;
}

#reviewBtn {
  height: 2em;
  font-size: 0.9em;
}

.roomGrid {
  display: grid;
  grid-template-areas: 'RoomName . . BookCell'
                       'RoomPics RoomSize . .'
                       'RoomPics RoomD RoomD RoomD'
                       'RoomPics RoomD RoomD RoomD';
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  /* grid-gap: 1em; */
  margin: 5em;
  color: white;
  background-color: #2D96CF;
}

.roomGrid > * {
  padding: 1em;
  margin: 1em;
  font-size: 1.2em;
}

.roomName {
  grid-area: RoomName;
}

.roomPictures {
  grid-area: RoomPics;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #D7DBDD;
  border-radius: 0.3em;
}

[class*="innerRPic"] {
  flex: 80%;
  max-width: 100%;
  border-radius: 0.3em;
  /* max-width: 50%;
  max-height: 10em; */
  margin: 0.1em;
}

[class*="innerRPic"]:hover {
  cursor: pointer;
  opacity: 0.7;

}

.roomSize {
  grid-area: RoomSize;

}

.roomDescription {
  grid-area: RoomD;
}

.bookCell{
  grid-area: BookCell;
  /* centering button in cell */
  align-self: center;
  justify-self: center;
}

#bookBtn {
  font-size: 1.1em;
}

@media (max-width: 70.375em) {
  .roomGrid {
    grid-template-areas: 'RoomName RoomSize'
                         'RoomPics RoomPics'
                         'RoomPics RoomPics'
                         'RoomPics RoomPics'
                         'RoomD RoomD'
                         'RoomD RoomD'
                         'BookCell BookCell';
    grid-template-columns: 50% 50%;
    min-height: 50em;
  }

  [class*="innerRPic"] {
    flex: 80%;
    max-width: 100%;
  }
}

[id*="Btn"]:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*  Review Section  */
#Reviews {
  display: none;
  margin: 0 6em;
}

.username {
  color: white;
  font-size: 1.2em;
  float: left;
  width: 20%;
  max-width: 50%;
}

.userHistory {
  color: white;
  font-size: 1.2em;
  float: left;
  width: 30%;
  max-width: 50%;
}

.commentSection {
  font-size: 1.1em;
  width: 100%;
  margin-top: 1em;
  border: 0.1em solid grey;
  color: #f4b942;
  float: left;
  padding: 1em;
}

.uploadBtn {
  float: right;
  font-size: 1em;
}

/*    !!!!!!!! LIGHTBOX STYLING -NOT TO BE MESSED WITH !!!!!!!!!!   */

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}



.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 25%;
  right: 0;
  float: right;
  background: url(images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    ACCOUNT MANAGEMENT ACCOUNT.HTML CSS   
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    ABOUT PAGE ABOUT.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#about {
    display: none;
}

.about-content {
    max-width: 80em;
    margin: auto;
}
.about-content h1{
    font-family: 'pacifico', 'cursive';
    font-weight: bold;
    color: white;
}