body {
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    background-color: #141414;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOMEPAGE    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/*###########################################################################*/
/*NAVBAR*/

nav {
    display: flex;
    white-space: nowrap;
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li {
    padding: 0 2em;
    list-style-type: none;
}

nav ul li ul li {  /* over riding 1.2em set on UL*/
    font-size: .8em;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: black;
}

nav .right {
    justify-content: flex-end;
}

nav .left {
    justify-content: flex-start;
}

nav .middle {
    flex: 1;
}

.loggedInWelcome {
    display: none;
    position: relative;
}

.loggedInWelcome ul {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 1em;
    right: 0;
    padding-top: .5em;
}

.loggedInWelcome:hover ul,  .loggedInWelcome:hover ul:hover, .loggedInWelcome:active ul,  .loggedInWelcome:active ul:active {
    display: block;
}

.loggedInWelcome ul li {
    padding-bottom: 0.5em;
}

.signInUp {
    display: block;
}

#hamburgerMenu {
    margin: 1em 0;
}

#hamburgerMenu li{
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    display: none;
}


/*for mobile screens = switch to hamburger menu*/
@media (max-width: 70.375em) {
    .hamburger {
        display: inline-block;
        margin: 1em;
        text-align: right;
    }

    .hamburger ul{
        display: none;
        flex-direction: column;
        clear: both;
    }

    .hamburger ul ul {
        display: none;
    }

    .right {
        display: none;
        flex-direction: column;
    }

}

.bars {
    float: right;
    clear: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/*###########################################################################*/

/*SEARCHBAR*/

.searchBG {
    background-image: url("images/mountainsBG2.jpg");
    background-size: 100%;
    /*background: linear-gradient(to bottom right, #7f00ff, #e100ff);*/
    width: 100%;
    height: 100vh;
}

.search {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 3em);
    grid-template-areas:
        ". . . . . . . . . . . ."
        ". . . . . mLoc mLoc . . . . ."
        ". . . . . mFrom mTo . . . . ."
        "loc loc loc from from mAdult mChild adult adult child child searchButton"
        ". . . . . mSearch mSearch . . . . ."
        ". . . . . ref ref . . . . ."
        ". . . . . . . . . . . .";
      /* readable version of grid placement
        ".   .   .   .    .    .       .       .     .     .     .     .           "
        ".   .   .   .    .    mLoc    mLoc    .     .     .     .     .           "
        ".   .   .   .    .    mFrom   mTo     .     .     .     .     .           "
        "loc loc loc from from mAdult  mChild  adult adult child child searchButton"
        ".   .   .   .    .    mSearch mSearch .     .     .     .     .           "
        ".   .   .   .    .    mLoc    mLoc    .     .     .     .     .           "
        ".   .   .   .    .    .       .       .     .     .     .     .           " */
       
    width: 70em;
    margin: auto;
}

.search input {
    padding: .5rem 1rem;
    border: none;
    height: 2rem;
}

#location {
    border-radius: .5em 0 0 .5em;
    padding: 1rem 1rem;
    height: 3rem;
    grid-area: loc;
}

#dateStart {
    grid-area: from;
}

#dateEnd {
    grid-column: 6/ span 2;
    grid-row: 4 / 5;
}

#adult {
    grid-area: adult;
}

#child {
    grid-area: child;
}

#searchButton {
    border-radius: 0 .5em .5em 0;
    border: none;
    grid-area: searchButton;
}

/*searchbar for mobile platforms*/
@media (max-width: 70.375em) {
    .search {
        grid-template-columns: 0 0 0 0 0 10em 10em 0 0 0 0 0;
        width: 20em;
        margin: auto;
    }
    .search input {
        padding: .5rem 1rem;
        border: none;
        height: 2rem;
    }
    
    #location {
        border-radius: .5em .5em 0 0;
        padding: 1rem 1rem;
        height: 3rem;
        grid-area: mLoc;
    }
    
    #dateStart {
        grid-area: mFrom;
    }
    
    #dateEnd {
        grid-area: mTo;
    }
    
    #adult {
        grid-area: mAdult;
    }
    
    #child {
        grid-area: mChild;
    }
    
    #searchButton {
        border-radius: 0 0 .5em .5em;
        border: none;
        grid-area: mSearch;
    }
}


/*#################################################################################*/
/*Sign In and Create Account Modals*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    width: 90%;
    max-width: 30em;
    height: 90vh;
    max-height: 690px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(rgba(40, 44, 52, 0.4), rgb(40, 44, 52)), url("images/nihonMichi.jpg");
    background-size: 100%;
}


.modal-content input {
    padding: 1em;
    color: white;
    background-color: rgba(160,160,160,0.5);
    border: none;
    border-radius: .5em;
}

.modal-content section {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
}

.modal-content input[type="submit"] {
    margin-top: 1em;
    border: 2px solid darkgrey;
}
.modal-content button {
    border: none;
    border-radius: .5em;
    width: 100%;
    height: 4em;
    background-color: #16b1b5;
}
.modal-content a,  .modal-content p {
    color: white;
    padding: .5em;
}

.fa-times {
    color: white;
}

.modal-content label {
    padding-left: .5em;
    color: white;
    font-weight: bold;
}

#signInForm input {
    border: 1px solid darkgrey;
    border-radius: .5em;
    outline: none;
}

.closeBtn {
    color: darkslategrey;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#createOrBecomeHost {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/nihonMichi.jpg");
    background-size: 100%;
}

#createAccountForm button {
    height: 3em;
}

#createAccount {
    display: none;
}

#createBtn {
    width: 100%;
}


#becomeHost {
    display: none;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/*#############################################################################################*/
/*homepage contents*/

.homeResults {
    max-width: 80em;
    margin: auto;
    padding: 2em;
}

.resultHeader {
    font-size: 2em;
    color: #f4f4f4;
}

.recommended {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    HOTEL AND ROOMS PAGE HOTEL.HTML CSS    
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    ACCOUNT MANAGEMENT ACCOUNT.HTML CSS   
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
