<% include partials/header %>
<% include partials/navbar %>
<% include partials/sign-in-modal %>

    <div id="about">
        <main class="about-content">
            <header>
                <h1>About Us</h1>
                <p> Insert name here is a family owned hotel booking service run deep from the Papuan forest lands of the Korowai
                    tribe, who up until 3 weeks ago, the most advanced piece of technology they had was a stone embedded
                    in a stick and used as an axe. Located in the treehouses of this native district, three promising young
                    get goers vowed to improve their tribes standings with the other local tribe of the Wantikini, in hopes
                    that each member of the triumvirate would win the hearts of the neighbouring tribe. Instead what they
                    did, was started earning money that held no value within their tribe, so they began perusing the money
                    earnt back into the hotel booking service, thus becoming the booming and succesful service provided today.
                    </p>
            </header>
        </main>
    </div>

    <% include partials/footer %>