<% include partials/header %>
<% include partials/navbar %>
<% include partials/sign-in-modal %>

<main>
  <h3> Your booking was successful !!</h3>

  </form>


</main>

<% include partials/footer %>
