
<footer> <!--TODO change footer links to classes like nav-->
    <article>
        <header>Site Links</header>
        <ul>
            <li>
                <a href="#" class="home-nav">Home</a>
            </li>
            <li>
                <a href="#" class="search-nav">Search</a>
            </li>
            <li>
                <a href="#" class="about-nav">About</a>
            </li>
            <li class="signInUp">
                <a href="#">Sign In</a>
            </li>
            <li class="createAccountClass">
                <a href="#">Create Account</a>
            </li>
        </ul>
    </article>
    <article class="footer-social">
        <header>Find Us On Social Media!</header>
        <ul>
            <li>
                <a href="">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/mattyd96/WDC-Project" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-twitch fa-2x"></i>
                </a>
            </li>
        </ul>
    </article>
</footer>

<script src="javascripts/main.js"></script>
</body>
</html>