<nav>
    <div class="left">
        <ul>
            <li>
                <a href="#" class="home-nav">LOGO</a>
            </li>
        </ul>
    </div>

    <div class="right">
        <ul>
            <li>
                <a href="/" class="home-nav">Home</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li class="signInUp">
                <a href="#">Sign In</a>
            </li>
            <li class="createAccountClass create-account-nav">
                <a href="#">Create Account</a>
            </li>
            <li class="loggedInWelcome">
                <a href="#" class="nav-welcome">Welcome, Username</a>
                <ul>
                    <li>
                        <a href="/manage-account" class="manage-account-nav">Manage Account</a>
                    </li>
                    <li>
                        <a href="/manage-account" class="favorites-nav">Favorites</a>
                    </li>
                    <li class="booking-toggle">
                        <a href="/manage-account" class="bookings-nav">Bookings</a>
                    </li>
                    <li class="listing-toggle">
                        <a href="/manage-account" class="listings-nav">Listings</a>
                    </li>
                    <li>
                        <a href="#" class="sign-out">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="hamburger">
        <div class="bars">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul id="hamburgerMenu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li class="signInUp">
                <a href="#">Sign In</a>
            </li>
            <li class="createAccountClass">
                <a href="#">Create Account</a>
            </li>
            <li class="loggedInWelcome">
                <a href="#" class="nav-welcome">Welcome, Username</a>
                <ul>
                    <li>
                        <a href="#" class="manage-account-nav">Manage Account</a>
                    </li>
                    <li>
                        <a href="#" class="favorites-nav">Favorites</a>
                    </li>
                    <li class="booking-toggle">
                        <a href="#" class="bookings-nav">Bookings</a>
                    </li>
                    <li class="listing-toggle">
                        <a href="#" class="listings-nav">Listings</a>
                    </li>
                    <li>
                        <a href="#" class="sign-out">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>