<div class="search">

    <p id="search-script-1">Where will</p>
    <p id="search-script-2">you go?</p>

    <input type="search" name="location" id="location" placeholder="Where to?">

    <div class="search-icons dateStart">
        <i class="fas fa-calendar-alt fa-lg"></i>
        <input type="date" name="dateStart">
    </div>

    <div class="search-icons dateEnd">
        <i class="fas fa-calendar-alt fa-lg"></i>
        <input type="date" name="dateEnd" placeholder="To">
    </div>

    <div class="search-icons people">
        <input type="number" name="people" placeholder="People" class="search-number-input">
    </div>
    <div class="search-icons rooms">
        <input type="number" name="rooms" placeholder="Rooms" class="search-number-input">
    </div>


    <button type="submit" id="searchButton">
        <i class="fas fa-search fa-lg"></i>
    </button>
</div>
</div>